.container-date {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.date {
  display: flex;
  font-family: Poppins;
  font-weight: 800;
  font-style: italic;
  font-size: 3.5rem;
  color: hsl(0, 0%, 8%);
}

.number-date {
  color: hsl(259, 100%, 65%);
  margin-right: 10px;
}

@media (max-width: 520px) {
  .container-date {
    margin-top: 45px;
  }
  .date {
    font-size: 3rem;
  }
}